<p align="center">
<img src='../../img/VerticaMLPython.png' width="180px">
</p>

# Vertica ML Python Exercise 1

During this exercice, we will see:
<ul>
    <li> how to identify missing values
    <li> how to fill missing values
    <li> how to drop missing values
</ul>
## Initialization

Let's create a cursor using the vertica_cursor function

In [1]:
from vertica_ml_python.utilities import vertica_cursor
cur = vertica_cursor("VerticaDSN")

During this study, we will work with the titanic dataset. This dataset is directly available in the VERTICA ML PYTHON API. You can store it in your Vertica DB using the load_titanic function.

In [2]:
from vertica_ml_python.learn.datasets import load_titanic
titanic = load_titanic(cur)

The titanic dataset includes many information around the passengers who embarked in the famous boat. We have information on their age, their gender, their tickets... We will try to understand the different columns missing values.

## Handling Missing Values with an example

Let's explore the data by displaying descriptive statistics of all the columns.

In [3]:
titanic.describe(method = "categorical")

<b>Question 1: </b>Compute all the columns missing values using the count method. Define for each variable, each type of missing values we are facing.

<b>Question 2: </b>By using the 'dropna' method, drop the elements having 1 or 2 missing elements.

<b>Question 3: </b>The feature 'boat' has many MNAR missing values. Indeed if someone paid for a lifeboat, he/she will get a lifeboat number otherwise this feature will be empty. By using the 'fillna' method with the correct parameters, change the variable boat by returning 1 if the passenger paid for a lifeboat and 0 otherwise.

<b>Question 4: </b>The column age has a lot of MCAR missing values. Imputing them using mathematical operation is very recommended as it will not add bias to the data. Use the 'fillna' method to impute this column with the most precise way.

<b>Question 5: </b>The column 'body' is not at all suitable for the imputation as it represents the passengers ID. This ID is unique and there is no way to impute it. The column 'cabin' represents the passengers cabin number. A lot of transformations must be made to extract information. Let's drop them. Use the 'drop' method to drop these columns.

<b>Question 6: </b>The column 'home.dest' is representing from where the passengers are embarking and to where they are going. It is a categorical variable. A possible to impute it is to use the mode (most occurrent element). Use the 'method' fillna to impute it. You can then compute the number of missing elements per column to verify that all the data are well prepared.